<h2>Galeria</h2>
<section>
    <div class="slider">
        <ul>
            <li>
                <img src="../../../assets/img/sliderImages/slide.jpg" alt="">
            </li>
            <li>
                <img src="../../../assets/img/sliderImages/slide1.jpg" alt="">
            </li>
            <li>
                <img src="../../../assets/img/sliderImages/slide2.jpg" alt="">
            </li>
            <li>
                <img src="../../../assets/img/sliderImages/slide3.jpg" alt="">
            </li>
            <li>
                <img src="../../../assets/img/sliderImages/slide4.jpg" alt="">
            </li>
        </ul>
    </div>
</section>