<h2>Miembro Registro</h2>
<section>
    <form>
        <table>
            <tr>
                <td class="fondoGris">Id de Ingreso:</td>
                <td>
                    <input type="text" name="firstname" placeholder="Ingrese Id" />
                </td>
            </tr>
            <tr>
                <td class="fondoGris">Contraseña:</td>
                <td>
                    <input type="password" name="lastname" placeholder="Ingrese contraseña" />
                </td>
            </tr>
            <tr>
                <td class="fondoGris">Repita Contraseña:</td>
                <td>
                    <input type="password" name="lastname" placeholder="Ingrese contraseña" />
                </td>
            </tr>
            <tr>
                <td class="fondoGris">Email:</td>
                <td>
                    <input type="email" name="email" placeholder="Ejem: ejemplo@gmail.com" />
                </td>
            </tr>
            <tr>
                <td class="fondoGris">Repita Email:</td>
                <td>
                    <input type="email" name="email" placeholder="Ejem: ejemplo@gmail.com" />
                </td>
            </tr>
            <tr>
                <td class="fondoGris">Fecha de Nacimiento:</td>
                <td>
                    <input type="date" name="birthday" />
                </td>
            </tr>
            <tr>
                <td class="fondoGris"> Elige tu provincia: </td>
                <td>
                        <select name="provincia">
                            <option value="jujuy"> Jujuy</option>
                            <option value="salta"> Salta</option>
                            <option value="tucuman"> Tucuman</option>
                        </select>                            
                </td>
            </tr>
            <tr>
                <td class="fondoGris">Sexo:</td>
                <td>
                        <input type="radio" name="sexo" values="masculino"/> Masculino
                        <input type="radio" name="sexo" values="femeninoo"/> Femenino
                </td>
            </tr>                
            <tr>
                <td><input type="reset" value="Cancelar"/></td>
                <td><input type="submit" value="Enviar"/></td>
            </tr>
        </table>            
    </form>
</section>
<br/>
