<section style="text-align:center;">
    <img src="../../../assets/img/obraSocial.png" alt="Obra Social" />
</section>
<section>
    <div id="contenedor">
    <div id="izquierda">
        <div class="titulo">
            <img src="../../../assets/img/saludLogo.jpg" alt="Salud" height="80px">
            <h2>Gestiona online</h2>
        </div>
        <p>
        Consultá tu factura, modificá datos de tu asociación, adherite al débito automático, 
         habilitá una cuenta para el depósito de reintegros y mucho más.
        </p>
</div>
    <div id="derecha">
        <div class="titulo">
            <img src="../../../assets/img/medical.jpg" alt="Salud" height="80px">
            <h2>Nuestras sucursales permaneceran cerradas</h2>
        </div>
        <p>
        Si necesitas realizar trámites durante la cuarentena, 
        podras continuar operando desde nuestros canales de atención digital.
        </p>
    </div>
    <div style="clear: both"></div>
    </div></section>
